.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f9f9f9;
}

.header__logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__logoText {
    font-size: 36px;
}

.header__menu {
    color: purple;
}

.header__input {
    display: flex;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.header__inputButton {
    width: 50px !important;
    /* background-color: #fafafa; */
    /* border: 1px solid lightgray; */
    color: gray;
}

.header__input > input {
    flex: 1;
    padding: 8px;
    border: none;
    margin-left: 20px;
    font-size: 14px;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 8px;
}